.svn
target
sub_mod_1/target
sub_mod_2/target
.idea
sub_mod_1/.idea
sub_mod_2/.idea
.classpath
.project
.settings
*.iml
*.ipr
*.iws
*.bin
nbactions.xml
nb-configuration.xml
*.DS_Store
*.tmp-inception
*.snap
.*.swp
